.header{
  background: var(--primary);
  padding: 15px 0;
  color: white;
}

.header-container{
  width: 90%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 15px;
}

.logo span {
  color: var(--secondary);
}

.search {
  position: relative; 
  width: 100%;
  max-width: 500px;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 8px 10px 8px 40px; 
}

.search-icon {
  position: absolute;       
  left: 10px;               
  top: 35%;
  transform: translateY(-50%);
  color: var(--primary);
  pointer-events: none;     
}

.actions{
  display:flex;
  align-items: center;
  gap: 25px;
}

.action-item {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s;
}

.action-item:hover {
  opacity: 0.8;
}

.login, .login-logged{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.login-text{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.2;
}

.login-text strong{
  font-size: 13px;
}

.login-icon{
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button{
  background: var(--secondary);
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: opacity 0.2s;
}

.logout-button:hover{
  opacity: 0.8;
}

.cart{
  position: relative;
  background: var(--cta);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-count{
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.login-logged .login-text{
  text-align: right;
}

.login-logged span{
  font-size: 13px;
}

.login-logged strong{
  font-size: 13px;
  color: var(--secondary);
}