.banner{
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
}

.banner-slide{
  height: 375px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform .25s;
}

.banner-slide:hover{
  transform: scale(1.01);
}
